h1 {
    text-align: center;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}
li {
display:inline;
padding:1%;
background-color: aquamarine;
top:0;

}
li a:hover {
    background-color: #111;
  }


.one,.two {
    display:block;
    padding:0;
    background-color: white;
    text-align: left;
}
p {
    width:1000px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first {
    width:40%;
    height:40%;
}
